body {
    text-align: center;
    background-color: rgb(32, 32, 32);
    color: white;
}

#board {
    border: 10px solid rgb(124, 16, 119);
    background-color:lightgrey;
}

.description {
    font-size: xx-large;
    margin: 0px;
}